{% extends "layout.html" %}

{% block content %}
<!--Build Area -->
<form action="{{ url_for('save') }}" method="POST" class="wrap no-top">
    <div class="grid-100 row">
        <div class="grid-30">
            <div class="title">
                <input type="text" name="name" value="{{ data.get('name', '') }}">
            </div>
        </div>
        <div class="grid-70">
            <div class="colors">
                {% for color in options['colors']: %}
                <input type="radio" id="{{ color }}" name="color" value="{{ color }}" {% if data.get('color') == color: %} checked {% endif %}>
                <label for="{{ color }}"></label>
                {% endfor %}
                <button class="btn">Update</button>
            </div>
        </div>
        <div id="bear" class="grid-100 bg-{{ data.get('color') }}">
            <div class="bear-body"><img src="/static/img/bear_body.svg" /></div>
            {% if data.get('footwear') %}
            <div class="footwear"><img src="/static/img/bear_items_footwear-{{ data['footwear'] }}.svg"></div>
            {% endif %}
            {% if data.get('pants') %}
            <div class="pants"><img src="/static/img/bear_items_pants-{{ data['pants'] }}.svg"></div>
            {% endif %}
            {% if data.get('shirts') %}
            <div class="shirt"><img src="/static/img/bear_items_shirts-{{ data['shirts'] }}.svg"></div>
            {% endif %}
            <div class="head"><img src="/static/img/bear_face.svg" /></div>
            {% if data.get('glasses') %}
            <div class="glasses"><img src="/static/img/bear_items_glasses-{{ data['glasses'] }}.svg"></div>
            {% endif %}
            <div class="nose"><img src="/static/img/bear_nose.svg" /></div>
            {% if data.get('hat') %}
            <div class="hat"><img src="/static/img/bear_items_hat-{{ data['hat'] }}.svg"></div>
            {% endif %}
        </div>
        <div class="items">
            {% for category, choices in options.items() %}
            {% if category != 'colors' %}
            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="category-title">{{ category.title() }}</p>
                </div>
                <div class="grid-80">
                    <input type="radio" id="no_{{ category }}_icon" name="{{ category }}" value='' {% if not data.get(category) %}checked{% endif %}>
                    <label for="no_{{ category }}_icon"><img src="/static/img/no-selection.svg"></label>
                    {% for choice in choices %}
                    <input type="radio" id="{{ category }}-{{ choice }}_icon" name="{{ category }}" value="{{ choice }}" {% if data.get(category) == choice %} checked {% endif %}>
                    <label for="{{ category }}-{{ choice }}_icon" {% if data.get(category) == choice %} class="checked" {% endif %}> <img src="/static/img/{{ category }}-{{ choice }}.svg"></label>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</form>

{% endblock %}
