{% from 'macros.html' import render_field %}
{% extends 'layout.html' %}

{% block content %}
<form method="POST" action="" class="form">
    <!-- the CSRF data needs the hidden_tag() -->
    {{ form.hidden_tag() }}
    {% for field in form %}
        {{ render_field(field) }}
    {% endfor %}
    <button type="submit" id="submit">
		{% if current_user.is_authenticated() %} Update User
		{% else %} Register
		{% endif %}
	</button>
</form>
{% endblock %}