<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %} Flask Basics {% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>
        {% block content %} {% endblock %}
    </h1>
    <br /><p>
        Pass 2 numbers to do math.
    </p>
    <!-- Content between block & endblock are substituted by subclasses, and can be retrieved by super() -->
</body>
</html>